.group:after {
  content: "";
  display: block;
  clear: both;
}

header {
  margin-top: 30px;
  background-color: black;
  border-radius: 20px;
  display: inline-block;
  padding: 0 20px;
}

body {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  background: #151515 url("./images/bkg.png") 0 0;
  text-align: center;
}

#score-bar {
  background: black;
  font-size: 40px;
  border-radius: 20px 20px 0 0;
}

#score {
  float: left;
  margin-left: 20px;
}

#round {
  float: right;
  margin-right: 20px;
}

.game-over-message {
  font-size: 40px;
  position: absolute;
  background: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 20px;
  color: #b5e853;
}

#game-over {
  margin: 20px;
}

#game-screen {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 50px auto;
}

#replay {
  margin: 30px;
  background-color: #b5e853;
  color: black;
  border-radius: 20px;
}

#replay:hover {
  cursor: pointer;
}
